<div
  class="tweetContainer"
  style=<%="background-color:rgb("+bg[0]+"%,"+bg[1]+"%,"+bg[2]+"%);" %>
>
  <div class="tweetUserBar">
    <span class="tweetPoster"><%= user %></span>
    <span class="tweetDate"><%= date %> </span>
    <span class="tweetID">TweetID:<%= id %> </span>
  </div>
  <div class="tweetContent"><%= content %></div>
</div>
